html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  max-width: 100dvw;
  overflow-y: auto;
  scrollbar-gutter: stable;
  overflow-x: hidden;
  border: 1px solid black;
  font-family: "Jost", sans-serif;
  padding: 0px;
  top: 0;
}

@media (max-width: 900px) {
  .hero_container {
    gap: 0.1rem;
  }
  .hero_title {
    font-size: 2.4rem;
  }

  .hero_name {
    font-size: 0.9rem !important;
  }

  .hero_role {
    font-size: 0.9rem !important;
  }

  .hero_button {
    font-size: 0.9rem !important;
  }
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: black;
}

@media (max-width: 768px) {
  .project_title {
    font-size: 0.9rem;
  }

  @media (max-width: 667px) {
    .grid_body {
      width: 85% !important;
    }

    .hero_buttons {
      justify-content: flex-start;
      width: 100%;
      gap: 2rem !important;
    }
    .hero_button {
      width: 130px !important;
    }
    .navbar_container {
      width: 85% !important;
    }
    .project_hero {
      font-size: 1.6rem !important;
    }

    .menu_container {
      display: none !important;
    }

    .menu_open_container {
      display: flex !important;
    }

    .menu_link_demo {
      font-weight: 300;
    }

    .links_github {
      display: none;
    }

    .langs_container {
      width: 85% !important;
    }
    .project_container {
      width: 100% !important;
    }

    .project_desctiptions {
      display: none !important;
    }

    .file_top {
      width: 50% !important;
    }

    .profile {
      width: 95% !important;
    }

    .profile_section_header {
      font-size: 1rem;
    }

    .profile_paragraph {
      font-size: 0.9rem;
    }

    .profile_image {
      float: left;
      width: 100px !important;
      height: 100px !important;
    }

    .profile_paragraph {
      font-size: 0.9rem !important;
    }

    .profile_contacts {
      width: 100dvw;
      position: relative;
      right: 50%;
    }

    .section_item {
      font-size: 0.9rem !important;
    }
  }
}

@media (max-width: 550px) {
  .project_container {
    width: 50%;
  }

  .scroll_container {
    display: none;
  }
}
