.book_demo_container {
  height: 100vh;
  width: 100vw;
}

.booking-form {
  height: 250px;
  width: 390px;
  border: 1px solid black;
}

.booking-header {
  font-weight: 600;
}

.booking-paragraph {
  color: rgba(0, 0, 0, 0.447);
}

.book-demo-btn {
  background: black;
  color: white;
  border-radius: 0px;
}

.book-demo-btn:hover,
.book-demo-btn:focus {
  border-radius: 0px;
}

.booking-input {
  border-radius: 0px;
  outline: none;
  width: 300px;
  padding: 5px;
  border: 1px solid black;
}

.booking-link {
  text-transform: uppercase;
}
