.menu_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  z-index: 1000;
}

.menu_options_container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

.menu_options_hold {
  width: fit-content;
  overflow: hidden;
}

.menu_options {
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: left;
  color: rgba(0, 0, 0, 0.612);
  font-size: 1rem !important;
}

.menu_options:hover {
  color: black;
}

.menu_link_demo {
  color: rgba(0, 0, 0, 0.612);
}

.menu_options:hover {
  width: 100%;
}
