.profile_container {
  min-height: 100vh;
  height: auto;
  width: 100dvw;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
}

.profile_file_section {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.file_top {
  height: 1.6rem;
  width: 25%;
  display: block;
  transform: translate(0%, 5%);
}

.profile_header {
  font-size: 2rem;
  height: 3.1rem;
  width: 100%;
  text-align: start;
  vertical-align: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(210, 210, 210);
}

.header_text {
  padding-left: 20px;
}

.profile_image {
  float: left;
  width: 150px;
  height: 150px;
  background-image: url("../image/profile.webp");
  background-position: center;
  background-size: cover;
  filter: grayscale(70%);
  filter:
    brightness(40%), grayscale(20%), contrast(90%), blur(0.5px), saturate(90%);
  margin-right: 1rem;
}

.main_profile_container {
  min-height: 50vh;
  height: auto;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background: rgb(210, 210, 210);
}

.profile {
  min-height: 100%;
  height: auto;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 4%;
}

.profile_section_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.profile_section_header {
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px dashed black;
}

.profile_section_1 {
  width: 100%;
}

.profile_section {
  width: 100%;
}

.sub_section {
  width: 90%;
  text-transform: uppercase;
  border-bottom: 1px dashed black;
  margin-left: auto;
  font-size: 1rem;
}

.sub_title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.section_list {
  width: 85%;
  height: auto;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.section_item {
  font-size: 1rem;
  font-weight: 300;
}

.contact_ways {
  width: 95%;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  color: rgba(0, 0, 0, 0.449);
  cursor: pointer;
  font-size: 0.9rem;
}

.contacts:hover {
  color: black;
}
.contact_logo {
  height: 20px;
  width: 20px;
  background-size: cover;
}

#linkedin_contact {
  background-image: url("../image/linkedin-rounded-svgrepo-com.svg");
}

#gmail_contact {
  background: url("../image/brand-google-gmail-svgrepo-com.svg");
  background-size: 100%;
}
